
<div class="container" *ngIf="choosenProduct != undefined; else isThereNot">

    <div class="section">
        <div class="bttns">
            <button mat-flat-button color="warn" (click)="openDialogDeleting()">Apagar</button>
            <button mat-flat-button color="primary" (click)="openDialogEditing()">Editar</button>
        </div>
        <h1>Id: {{choosenProduct.id}}</h1>
        <h1>Nome: {{choosenProduct.name}}</h1>
        <h1>Preço: {{choosenProduct.price | currency }}</h1>
    </div>

    <div class="section-details">
        <h1>Descrição: {{choosenProduct.description}}</h1>
        <h1>Referência: {{choosenProduct.reference}}</h1>
        <h1>Código de barras: {{choosenProduct.barcode}}</h1>
        <h1>Marca: {{choosenProduct.brand.name}}</h1>
        <h1>Tipo de produto: {{choosenProduct.productType.name}}</h1>
        <h1>Quantidade: {{choosenProduct.quantity}}</h1>
        <h1>Quantidade mínima: {{choosenProduct.min_quantity}}</h1>
        <h1>Quantidade máxima: {{choosenProduct.max_quantity}}</h1>
    </div>
</div>


<ng-template #isThereNot>
    <div class="auto-reply-message">
        <h1>Produto não foi selecionado !</h1>
        <strong>Por favor, selecione o produto</strong>
        <button mat-raised-button color="primary" (click)="toList.emit()">Lista</button>
    </div>
</ng-template>