:host {
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.box-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 0px 15px;
}

.box-table {
    height: 100%;
    background-color: rgb(194, 199, 202);
    overflow-y: auto;
}

.mat-column-select {
    width: 30px;
}


