<form (ngSubmit)="onSubmit()" [formGroup]="AddressForm" #formDir="ngForm" class="form-address"> 
      

    <mat-form-field appearance="fill" class="input-cep">
      <mat-label>CEP</mat-label>
      <input type="text" matInput placeholder="xxxxx-xxx" maxlength="9" formControlName="cep"
      mask="00000-000" [dropSpecialCharacters]="false">
      <button type="button" mat-icon-button matSuffix [disabled]="AddressForm.status === 'DISABLED'" (click)="searchByCPF()">
        <mat-icon>search</mat-icon>
      </button>
      <mat-hint>nome do cep</mat-hint>
      <mat-error *ngIf="cep.errors?.['required']">
        O cep é obrigatório.
      </mat-error>
    </mat-form-field>

    
    <mat-form-field class="input-street">
        <mat-label>Rua</mat-label>
        <input type="text" matInput formControlName="street"
               placeholder="Nome da rua">
        <mat-hint>nome da rua</mat-hint>
        <mat-error *ngIf="street.errors?.['required']">
          O nome da rua é obrigatório.
        </mat-error>
      </mat-form-field>
    
    
      <mat-form-field class="input-number">
        <mat-label>Número</mat-label>
        <input type="text" matInput formControlName="number">
        <mat-hint>número</mat-hint>
        <mat-error *ngIf="number.errors?.['required']">
          O número é obrigatório.
        </mat-error>
      </mat-form-field>
  

      <mat-form-field class="input-neighborhood">
        <mat-label>Bairro</mat-label>
        <input type="text" matInput formControlName="neighborhood"
               placeholder="nome do bairro">
        <mat-hint>nome do bairro</mat-hint>
        <mat-error *ngIf="neighborhood.errors?.['required']">
          O nome do bairro é obrigatório.
        </mat-error>
      </mat-form-field>


      <mat-form-field class="input-city">
        <mat-label>Cidade</mat-label>
        <input type="text" matInput formControlName="city"
               placeholder="nome da cidade">
        <mat-hint>nome da cidade</mat-hint>
        <mat-error *ngIf="city.errors?.['required']">
          O nome de uma cidade é obrigatório.
        </mat-error>
      </mat-form-field>


      <mat-form-field class="input-uf">
        <mat-label>Estado</mat-label>
        <input type="text" matInput formControlName="uf"
               placeholder="nome do estado">
        <mat-hint>UF</mat-hint>
        <mat-error *ngIf="uf.errors?.['required']">
          O nome de um estado é obrigatório.
        </mat-error>
      </mat-form-field>
      

      <mat-form-field appearance="fill" class="input-deliveryType">
        <mat-label>Tipo de entrega</mat-label>
        <mat-select formControlName="deliveryType">
          <mat-option (click)="addDeliveryType()">
            <mat-icon>
              add
            </mat-icon>
            Adicionar
          </mat-option>

          <mat-option *ngFor="let delivery of deliveries" [value]="delivery">
            {{delivery.name}}
          </mat-option>
        </mat-select>
        <mat-hint>tipo de entrega</mat-hint>
      </mat-form-field>


      <mat-form-field class="input-cellphone1">
        <mat-label>Celular 1</mat-label>
        <input type="text" matInput formControlName="cellphone1" 
          prefix="+55 "  mask="(00) 00000-0000" [dropSpecialCharacters]="false">
        <mat-hint>número de celular 1</mat-hint>
        <mat-error *ngIf="cellphone1.errors?.['mask']">
          celular 1 inválido.
        </mat-error>
      </mat-form-field>


      <mat-form-field class="input-cellphone2">
        <mat-label>Celular 2</mat-label>
        <input type="text" matInput formControlName="cellphone2"
          prefix="+55 "  mask="(00) 00000-0000" [dropSpecialCharacters]="false">
        <mat-hint>número de celular 2</mat-hint>
        <mat-error *ngIf="cellphone2.errors?.['mask']">
          celular 2 inválido.
        </mat-error>
      </mat-form-field>


      <mat-form-field class="input-telephone1">
        <mat-label>Telefone 1</mat-label>
        <input type="text" matInput formControlName="telephone1"
          prefix="+55 "  mask="(00) 0000-0000" [dropSpecialCharacters]="false">
        <mat-hint>número de telefone 1</mat-hint>
        <mat-error *ngIf="telephone1.errors?.['mask']">
          telefone 1 inválido.
        </mat-error>
      </mat-form-field>


      <mat-form-field class="input-telephone2">
        <mat-label>Telefone 2</mat-label>
        <input type="text" matInput formControlName="telephone2"
          prefix="+55 "  mask="(00) 0000-0000" [dropSpecialCharacters]="false">
        <mat-hint>número de telefone 2</mat-hint>
        <mat-error *ngIf="telephone2.errors?.['mask']">
          telefone 2 inválido.
        </mat-error>
      </mat-form-field>
          
      <button mat-raised-button type="submit" [disabled]="AddressForm.status === 'DISABLED'"  class="btt-form-address">Salvar</button>
</form>
