:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.mat-accordion-initial-payment{
  margin-top: 20px;
  background-color: bisque;
}

.content{
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "a a"
  "b c";
  gap: 20px 20px;
}

order-details-view {
  grid-area: a;
}

.controls {
  grid-area: b;
  display: flex;
  flex-direction: column;
}

table-payment {
  grid-area: c;
}

mat-button-toggle-group {
  margin-bottom: 10px;
}

.container-details{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-bttn{
  display: flex;
}

.result{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



