<h1 mat-dialog-title>Pagamentos</h1>

<div mat-dialog-content class="content">

  <order-details-view [data]="data" />

  <div class="controls">

      <mat-form-field appearance="fill" class="mat-form-field-amount">
        <mat-label>Digite número de parcelas que deseja</mat-label>
        <input type="number" matInput [formControl]="input">
      </mat-form-field>

  </div>

  <table-payment [data]="payments" [paymentTypes]="paymentTypes" [editable]="true"/>

</div>
<mat-dialog-actions align="end">
  <button color="warn" mat-button (click)="canceled()">Cancelar</button>
  <button  color="primary" mat-button (click)="close()">Salvar</button>
</mat-dialog-actions>