:host {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
}

.container {
    display: flex;
    gap: 0px 20px;
    flex: 1;
}


.container table-entities {
    flex: 1;
}