<h2 mat-dialog-title>Pagamento {{data.id}}</h2>
<div mat-dialog-content>

    <h2>Valor: {{data.amount| currency }}</h2>
    <h2>Valor a pagar: {{data.paymentDate | date: 'dd/MM/yyyy' }}</h2>

    <ng-container *ngIf="!data.paid">
        <form [formGroup]="Form">
            <h2>Tipo de pagamento: {{data.paymentType?.name || 'A definir' }}</h2>
            <h2>Valor pago: {{data.amountPayed || 'A definir' }}</h2>
            <h2>payment realizada: {{data.payedAt | date: 'dd/MM/yyyy'}}</h2>
            <mat-form-field class="example-full-width">
                <mat-label>Valor a pagar</mat-label>
                <input matInput placeholder="Digite o valor" formControlName="inputValue">
                <mat-error *ngIf="inputValue.errors?.['required']">
                    Obrigatório preencher o valor
                </mat-error>
                <mat-error *ngIf="inputValue.errors?.['min']">
                    O valor não pode ser menor do que o total
                </mat-error>
            </mat-form-field>
            <input-customizable type="number"  />
            <advance-chip-listbox [data]="paymentTypes" formControlName="inputPaymentType" />
        </form>
    </ng-container>
</div>
<mat-dialog-actions align="end">
    <button color="warn" mat-button 
        (click)="dialogRef.close()"
        *ngIf="!data.paid">
        Cancelar
    </button>
    <button color="primary" mat-button 
        [disabled]="!data.paid && Form.invalid"
        (click)="data.paid ? dialogRef.close() : payNow()">
        {{data.paid ? 'Ok' : 'Pagar'}}
    </button>
</mat-dialog-actions>