<table-product-order
    [products]="order.productOrders" 
    [editable]="true" 
    (selectedEvent)="addSelectedProducts($event)"
    (deleteEvent)="deleteItems($event)" />

<order-section 
    [order]="order"
    (saveOrder)="saveOrder()"/>

<div class="customer-section">
    <button mat-flat-button color="primary"
        (click)="openChooseCustomerDialog()">
        Escolher cliente
    </button>

    <h1>Cliente: {{customerChoosed ? customerChoosed.name : 'Seleciona o cliente'}}</h1>
</div>
