<table-product-order
    [products]="productOrders" 
    [editable]="true" 
    (changeQty)="updateChange()"
    (deleteEvent)="deleteItems($event)" />

<order-section 
    [productOrders]="productOrders"
    [payments]="payments"
    (saveOrder)="saveOrder()"/>

<div class="customer-section">
    <button mat-flat-button color="primary"
        (click)="openChooseCustomerDialog()">
        Escolher cliente
    </button>

    <h1>Cliente: {{customerChoosed ? customerChoosed.name : 'Seleciona o cliente'}}</h1>
</div>

<table-entities
    [data]="products" 
    (rowClicked)="produtoChamado($event)" />