<div class="container-customer">
    <button mat-flat-button color="primary"
        [disabled]="!customerFC.value?.id"
        (click)="reset()"
        class="btt-new">
        Novo
    </button>
    <form-customer [formControl]="customerFC"/>
    <button 
        [disabled]="customerFC.invalid"
        (click)="saveCustomer()">
        Salvar
    </button>
</div>



<div class="container">
    <mat-stepper #stepper class="stepper">

        <mat-step label="Endereços">
            <form-address 
                [formControl]="addressFC"
                (submit)="saveAddress()"/>
            <list-address [data]="addresses" [editable]="true" />
        </mat-step>

        <mat-step label="Dependentes" >  
            <div class="dependent-box">
                <div class="section-form-dependent">
                    <form-customer [formControl]="dependentFC"/>
                    <button 
                        mat-raised-button color="primary"
                        [disabled]="dependentFC.invalid"
                        (click)="saveDependent()">Salvar</button>
                </div>
                
                <div class="section-dependent-bttns">
                    <button mat-raised-button color="primary" (click)="toggleSelectable(tdependents)">
                        {{  tdependents.selectable ? 'cancelar' : 'selecionar'  }}
                    </button>
                    <button mat-raised-button color="warn" [disabled]="!tdependents.hasSelected()" (click)="deleteDependents(tdependents)">
                        Apagar
                    </button>
                </div>
    
                <table-entities [data]="dependents"#tdependents/>
            </div>
        </mat-step>
        
    </mat-stepper>

    <div class="block" [class.unlock]="customerFC.value?.id"></div>
</div>