<form (ngSubmit)="onSubmit()" [formGroup]="CustomerForm" #formDir="ngForm" class="form-customer"> 
    <mat-form-field class="input-name">
      <mat-label>Nome</mat-label>
      <input matInput type="text" matInput formControlName="name"
          placeholder="Nome do cliente">
      <button *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear" (click)="name.setValue('')"
      [disabled]="CustomerForm.status === 'DISABLED'">
          <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Digite o nome do cliente</mat-hint>
      <mat-error *ngIf="name.errors?.['required']">
        O nome é obrigatório.
      </mat-error>
    </mat-form-field>
  
  
    <mat-form-field class="input-cpf">
      <mat-label>CPF</mat-label>
      <input type="text" matInput formControlName="cpf" placeholder="xxx.xxx.xxx-xx"
        maxlength="14" mask="000.000.000-00" [dropSpecialCharacters]="false">
      <mat-hint>Digite o cpf do cliente</mat-hint>
      <mat-error *ngIf="cpf.errors?.['required']">
        O cpf é obrigatório.
      </mat-error>
      <mat-error *ngIf="cpf.errors?.['pattern']">
        cpf inválido.
      </mat-error>
      <mat-error *ngIf="cpf.errors?.['appExistCPF']">
        {{ cpf.errors?.['appExistCPF'] }}
      </mat-error>
    </mat-form-field>
        
    <button *ngIf="!hasCustomer" [disabled]="CustomerForm.status === 'DISABLED'"
     mat-raised-button type="submit" class="btt-form-customer">
      {{forDependents ? 'Adicionar' : 'Salvar'}}
    </button>
</form>