:host {
  display: flex;
  flex-direction: column;
}

.box-table{
  height: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgb(200, 226, 228);  
}

.demo-row-is-clicked {
  font-weight: bold;
}

.make-clicked {
  background-color: rgb(167, 184, 184);
}

.box-spinner {
  display: flex;
  background-color: rgba(0, 0, 0, 0.15);
  height: 100%;
  align-items: center;
  justify-content: center;
}