<mat-form-field>
  <mat-label>Nome ou CPF</mat-label>
  <input matInput type="text" [(ngModel)]="value" (input)="filterByValue()">
  <button *ngIf="value" matSuffix mat-icon-button aria-label="Limpar" (click)="value='';filterByValue()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-hint>Digite o nome do cliente</mat-hint>
</mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CPF</th>
      <td mat-cell *matCellDef="let element">{{element.cpf}}</td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <tr
        mat-row
        (click)="rowClicked.emit(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
    
  </table>


<ng-template #loading>
  <div class="box-spinner">
    <mat-spinner diameter="150"/>
  </div>
</ng-template>


