<div class="head-bttns">
    <mat-button-toggle-group #group="matButtonToggleGroup" class="bttn-toggle-group"
        value="0" (change)="bttnToggleChange($event)">
        <mat-button-toggle value="0">Á Pagar </mat-button-toggle>
        <mat-button-toggle value="1">Já Pago</mat-button-toggle>
    </mat-button-toggle-group>
</div>


    <!-- Display when data is 'LOADING' -->
    <ng-container *ngIf="!data[+group.value]; else displayTable">
        <div class="loading" >
            <main-load />
        </div>
    </ng-container>

    <!-- Display with 'CONTENTED' data -->
    <ng-template #displayTable>
            <table-entities *ngIf="data[+group.value]!.length > 0; else displayEmpty"
                [displayColumns]="displayedColumns"
                [data]="data[+group.value]!"
                (rowClicked)="rowClicked($event)" />
    </ng-template>

    <!-- Display when data is 'EMPTY' -->
    <ng-template #displayEmpty>
        <h1>Nenhum pagamentos encontrado...</h1>
    </ng-template>
    
    
    
