<mat-tab-group #tabGroup [@.disabled]="true" [(selectedIndex)]="selectedTabIndex"
class="mat-tabGroup" mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab #tabRegister>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person_add</mat-icon>
        Adicionar cliente
      </ng-template>

      <ng-template matTabContent>
        <register/>
      </ng-template>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">list</mat-icon>
        Lista
      </ng-template>

      <ng-template matTabContent>
        <list (rowClicked)="selectedCustomer = $event; tabGroup.selectedIndex = 3"/>
      </ng-template>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">delete</mat-icon>
        Excluir
      </ng-template>
  
      <ng-template matTabContent>
        <remove/>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person</mat-icon>
        Cliente
      </ng-template>
  
      <ng-template matTabContent>
        <details-customer 
          [customer]="selectedCustomer!" 
          (eraseCustomer)="selectedCustomer = null"
          (toList)="selectedTabIndex = 1" />
      </ng-template>
    </mat-tab>
</mat-tab-group>



