<h2 mat-dialog-title>Adicionar um dependente</h2>
<div mat-dialog-content>
    <h2>Escolhe um produto:</h2>

    <mat-form-field>
        <mat-label>Nome ou CPF</mat-label>
        <input matInput type="text" #input>
        <mat-hint>Digite o nome do cliente</mat-hint>
    </mat-form-field>

    <table-entities 
        [data]="products"
        [filterByValue]="input.value"
        [displayColumns]="columnDisplayed"
        (rowClicked)="dialogRef.close($event)"/>
</div>
<mat-dialog-actions align="end">
    <button color="warn" mat-button (click)="dialogRef.close()">Cancelar</button>
</mat-dialog-actions>
