<mat-toolbar class="toolbar-height" (click)="closeByClickOut();" color="primary">
  <mat-toolbar-row>
    <button class="box-button-menu" (click)="drawer.toggle();">
      <mat-icon >menu</mat-icon>
      <h1>Amélia Revendedora</h1>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" [(opened)]="opened" mode="side" >
    <div class="drawer-area">
    <mat-list>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
          Home
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon (click)="drawer.toggle();">person</mat-icon>
          Clientes
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon (click)="drawer.toggle();">sell</mat-icon>
          Produtos
        </button>
      </mat-list-item>
     </mat-list>
    </div>
  </mat-drawer>
  <mat-drawer-content (click)="closeByClickOut();">
    <h1>Teste Apenas</h1>
  </mat-drawer-content>
</mat-drawer-container>
