h1{
  margin-bottom: 0px;
}

.example-spacer {
    flex: 1 1 auto;
}

.box-button-menu {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}

button:hover {
    cursor: pointer;
}

.example-container {
  width: 100%;
  height: calc(100% - 64px);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 10px;
  width: 150px;
}

.sidenav-btt {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


.LinkActive{
  background-color: rgb(96, 131, 197);
}

.router-outlet{
  width: 100%;
  height: 100%;
  padding: 10px 0px 0px 10px;
}


/*  @Media  */


@media (max-width: 599px){
  .example-container {
    height: calc(100% - 56px)
  }
}
