:host {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    height: 100%;
}

.bttns {
    display: flex;
    flex-direction: row-reverse;
    gap: 0px 10px;
}

table-entities {
    width: 80%;
    align-self: center;
}