<form [formGroup]="formGroup" #formDir="ngForm">

    <div class="chip-list">
      <mat-chip-listbox formControlName="productType">
          <mat-chip-option *ngFor="let value of productTypes" [value]="value"
            [selected]="productType.value?.id === value.id ? true : false"
            (removed)="openDialogDeleteProductType(value)">
            {{ value.name }}
            <button matChipRemove *ngIf="chipRemovable">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-option>
      </mat-chip-listbox>
    
      <button mat-mini-fab color="primary"
        (click)="openDialogAddProductType()">
        <mat-icon>add</mat-icon>
      </button>
      
      <button mat-mini-fab color="warn"
        (click)="chipRemovable = !chipRemovable">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <mat-form-field appearance="fill" class="input-name">
        <mat-label>Nome</mat-label>
        <input type="text" matInput placeholder="Digite o nome do produto..." formControlName="name">
        <mat-error *ngIf="name.errors?.['required']">
          Obrigatório.
        </mat-error>
      </mat-form-field>
      
        <mat-form-field class="input-description">
          <mat-label>Descrição</mat-label>
          <input type="text" matInput formControlName="description"
                 placeholder="Descrição...">
          <mat-error *ngIf="name.errors?.['required']">
            Obrigatória.
          </mat-error>
        </mat-form-field>
      
        <mat-form-field class="input-reference">
          <mat-label>Referência</mat-label>
          <input type="text" matInput formControlName="reference">
        </mat-form-field>
    
        <mat-form-field class="input-barcode">
          <mat-label>Código de barras</mat-label>
          <input type="text" matInput formControlName="barcode"
                 placeholder="ler o código do produto...">
        </mat-form-field>      
    
        <mat-form-field appearance="fill" class="input-brand">
          <mat-label>Marca</mat-label>
          <mat-select formControlName="brand" [compareWith]="compareBrandFn">
            <mat-option (click)="openDialogAddBrand()">
              Adicionar
              <mat-icon>add</mat-icon>
            </mat-option>
    
            <mat-option *ngFor="let brand of brands" [value]="brand">
              {{brand.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <mat-form-field class="input-price">
          <mat-label>Preço</mat-label>
          <input type="number" matInput formControlName="price"
              prefix="R$ " placeholder="digite o preço...">
          <mat-error *ngIf="price.errors?.['required']">
              Obrigatório.
            </mat-error>
        </mat-form-field>   

        <mat-form-field class="input-quantity">
          <mat-label>Quantidade</mat-label>
          <input type="number" matInput formControlName="quantity" placeholder="digite quantitade">
          <mat-error *ngIf="price.errors?.['required']">
              Obrigatório.
            </mat-error>
        </mat-form-field>  

        <mat-form-field class="input-min-quantity">
          <mat-label>Quantidade mín</mat-label>
          <input type="number" matInput formControlName="min_quantity" placeholder="digite quantidade mínima">
          <mat-error *ngIf="price.errors?.['required']">
              Obrigatório.
            </mat-error>
        </mat-form-field>  

        <mat-form-field class="input-max-quantity">
          <mat-label>Quantidade máx</mat-label>
          <input type="number" matInput formControlName="max_quantity" placeholder="digite quantidade máxima">
          <mat-error *ngIf="price.errors?.['required']">
              Obrigatório.
            </mat-error>
        </mat-form-field>  

        <button mat-raised-button
          *ngIf="displaySubmit"
          color="primary"
          class="bttn-save"
          (click)="onSubmit()">
          Salvar
        </button>
</form>