:host {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 20px;
    background-color: rgb(137, 192, 194);
    padding: 30px;
}

.container-customer{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
}

.section-bttns {
    display: flex;
    flex-direction: row-reverse;
    gap: 0 10px;
}

.container-stepper{
    flex: 1;
    height: 100%;
    border-radius: 4px;
}


.form-customer{
    width: 100%;
    height: auto;
}

.div-buttons{
    display: flex;
    gap: 0px 10px;
    justify-content: flex-end;
}

.box-address, .box-sub-customers{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
}

.btt-add-address{
    align-self: flex-end;
    margin-right: 20px;
    height: 40px;
    width: 100px;
}

.list-address{
    flex: 1;
}

.form-address{
    padding: 15px;
}

:host .container-stepper ::ng-deep .mat-horizontal-stepper-header-container{
    width: auto;
}

:host .container-stepper ::ng-deep .mat-horizontal-content-container {
    margin: 10px;
}

:host .container-stepper ::ng-deep .mat-horizontal-stepper-wrapper {
    height: 100%;
}

:host ::ng-deep .mat-horizontal-stepper-content {
    height: 100%;
}

addresses-details {
    height: 100%;
}

dependents {
    height: 100%;
}

payments {
    height: 100%;
}

orders {
    height: 100%;
}


/*   Auto reply message   */

.auto-reply-message{
    background-color: rgb(177, 177, 177);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    align-items: center;
    justify-content: center;
}

