<div class="container-customer" *ngIf="chosenCustomer != null">
    <div *ngIf="toEditCustomer == false; else editCustomer">
        <div class="id-name">
            <h1><strong>Id:</strong> {{chosenCustomer.id}}</h1>
            <h1><strong>CPF:</strong> {{chosenCustomer.cpf}}</h1>
        </div>
        <h1 class="title-name"><strong>Nome:</strong> {{chosenCustomer.name}}</h1>
    </div>
    
    <ng-template #editCustomer>
        <form-customer [haveCustomer]="chosenCustomer" (eventCustomer)="updateCustomer($event)" class="form-customer" />
    </ng-template>

    <div class="div-buttons">
        <button mat-flat-button color="primary" (click)="toEditCustomer = !toEditCustomer">
            {{toEditCustomer? 'Cancelar' : 'Editar'}}
        </button>
        <btt-remove [customer]="chosenCustomer" (messageEvent)="toRemove()" />
    </div>
</div>


<mat-stepper #stepper class="stepper" *ngIf="chosenCustomer != null">
    <mat-step label="Endereço">
        <div class="box-address">

            <button mat-flat-button color="primary" (click)="toAddAddress = !toAddAddress" class="btt-add-address">
                {{toAddAddress? 'Cancelar' : 'Adicionar'}}
            </button>
            <list-address [addresses]="addresses" (removeOneAddressFromList)="removeAddress($event)"
                *ngIf="toAddAddress == false; else toAdd" class="list-address"/>
            <ng-template #toAdd>
                <form-address (messageEvent)="addAddress($event)" [keepOpen]="true" class="form-address"/>
            </ng-template>

        </div>
    </mat-step>
    <mat-step label="Sub-Clientes">
        <div class="box-sub-customers">
            <sub-customers (eventCustomerDep)="addCustomerDependent($event)" [customersDependents]="customersDependents" />
        </div>
    </mat-step>
</mat-stepper>
