    <mat-tab-group [@.disabled]="true" #MatTabGroup class="teste" animationDuration="500ms" mat-align-tabs="center">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">person_add</mat-icon>
            Adicionar cliente
          </ng-template>

          <ng-template matTabContent>
            Content 1
          </ng-template>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">list</mat-icon>
            Lista
          </ng-template>

          <ng-template matTabContent>
            <app-list-customer></app-list-customer>
          </ng-template>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">delete</mat-icon>
            Excluir
          </ng-template>
      
          <ng-template matTabContent>
            Content 3
          </ng-template>
        </mat-tab>
      </mat-tab-group>


  
