<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content class="content">

    <h2>Você tem {{data.quantity}} produtos</h2>

    <div class="box">
        <form [formGroup]="form" #formDir="ngForm" class="inputs">

            <div class="first-div">
                <mat-form-field class="input-percentage-quantity">
                    <mat-label>quantidade</mat-label>
                    <input matInput type="number" min="0" [max]="data.quantity"
                        (input)="adjustAmount()" formControlName="percentageQty">
                    <mat-error *ngIf="percentage.errors?.['max']">
                        A quantidade máxima é {{data.quantity}}
                    </mat-error>
                    <mat-error *ngIf="percentage.errors?.['min']">
                        A quantidade mínima é 1
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field class="input-percentage">
                    <mat-label>Porcentagem</mat-label>
                    <input matInput type="number" min="0" [max]="100"
                        (input)="adjustAmount()" formControlName="percentage">
                    <h1 matSuffix>%</h1>
                    <mat-error *ngIf="percentage.errors?.['max']">
                        A porcentagem máxima é 100 !
                    </mat-error>
                    <mat-error *ngIf="percentage.errors?.['min']">
                        A porcentagem mínima é 0 !
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="second-div">
                <mat-form-field class="input-value-quantity">
                    <mat-label>quantidade</mat-label>
                    <input matInput type="number" min="0" [max]="data.quantity"
                        (input)="adjustAmount()" formControlName="valueQty">
                    <mat-error *ngIf="percentage.errors?.['max']">
                        A quantidade máxima é {{data.quantity}}
                    </mat-error>
                    <mat-error *ngIf="percentage.errors?.['min']">
                        A quantidade mínima é 1
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field class="input-valor">
                    <mat-label>Valor</mat-label>
                    <input matInput type="number" (input)="adjustAmount()"
                        formControlName="value" [errorStateMatcher]="matcher">
                    <h1 matSuffix>R$</h1>
                    <mat-error *ngIf="value.errors?.['max']">
                        Deve ser menor que valor líquido
                    </mat-error>
                    <mat-error *ngIf="value.errors?.['min']">
                        O desconto mínimo é 0
                    </mat-error>
                </mat-form-field>
            </div>


            <mat-form-field class="input-netValue">
                <mat-label>Valor Líquido</mat-label>
                <input matInput type="number" (input)="setNetAmount()"
                    formControlName="netValue">
                <h1 matSuffix>R$</h1>
                <mat-error *ngIf="netValue.errors?.['max']">
                    O valor líquido não pode ser maior que valor bruto !
                </mat-error>
                <mat-error *ngIf="netValue.errors?.['min']">
                    O valor não pode ser menor que 0 (Zero)!
                </mat-error>
            </mat-form-field>
        </form>

        <div class="results">
            <h1>Valor Líquido: {{data.netAmount | currency}}</h1>
            <h2>Valor Bruto: {{data.grossAmount | currency}}</h2>
            <h2>Quantidade item: {{data.quantity}}</h2>
            <h2>Desconto final: {{(data.discount || 0) | percent: '1.2-2'}}</h2>
        </div>
    </div>

</div>
<mat-dialog-actions align="end">
    <button color="warn" mat-button (click)="dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data">Descontar</button>
</mat-dialog-actions>