<mat-tab-group #tabGroup [@.disabled]="true" class="mat-tabGroup" 
  mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab #tabRegister>
      <ng-template mat-tab-label>
        Vendas
      </ng-template>

      <ng-template matTabContent>
        <product-dashboard />
      </ng-template>
    </mat-tab>

    <mat-tab #tabRegister>
      <ng-template mat-tab-label>
        Clientes
      </ng-template>

      <ng-template matTabContent>
       <customer-dashboard />
      </ng-template>
    </mat-tab>

    <mat-tab #tabRegister>
      <ng-template mat-tab-label>
        Pagamentos
      </ng-template>

      <ng-template matTabContent>
       <payment-dashboard />
      </ng-template>
    </mat-tab>
</mat-tab-group>