<!--  Template for Form !  -->

<div class="container">
    <button 
        mat-raised-button 
        color="{{ addressFC.enabled ? 'warn' : 'primary' }}" 
        (click)="addressFC.enabled ? addressFC.disable() : addressFC.enable()"
        class="bttn-new">
            {{ addressFC.enabled ? 'Fechar' : 'Novo' }}
    </button>
    
    <form-address *ngIf="!addressFC.disabled" [formControl]="addressFC" (submit)="saveAddress()"/>

    <list-address [data]="addresses" [editable]="true"
        (updateById)="updateById($event)"
        (removeById)="removeById($event)"
        *ngIf="addresses.length > 0; else empty"/>
</div>



<ng-template #empty>
    <div class="message-empty">
        <h1>Endereços estão vazios</h1>
        <span>Crie um endereço aqui mesmo !</span>
    </div>
</ng-template>
