<h2 mat-dialog-title>Detalhes do pedido {{data.id}}</h2>
<div mat-dialog-content>
    <div class="details">
        <h2>Pago: {{(data.paid ? "sim" : "não")}}</h2>
        <h2>{{data.createdAt | date: 'dd/MM/yyyy - HH:mm' }}</h2>
        <h2>Valor bruto: {{data.grossAmount | currency }}</h2>
        <h2>Valor líquido: {{data.netAmount | currency }}</h2>
        <h2>Descontos: {{data.discounts | percent: '1.2-2' }}</h2>
    </div>

    <div class="table">
        <h1>Produtos</h1>
        <!-- <table-product-order [products]="productsOrdered" [editable]="false"/> -->
        <table-entities [data]="data.productOrders"
            [displayColumns]="displayColumns" />
    </div>
</div>
<mat-dialog-actions align="end">
    <button color="warn" mat-button (click)="dialogRef.close()">Cancelar</button>
    <button color="primary" mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</mat-dialog-actions>