:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

table-entities{
    width: 50%;
    height: 90%;
    max-width: 900px;
}