:host{
    display: flex;
    flex-direction: column;
}

.head-bttns{
    display: flex;
    gap: 0px 10px;
}

.bttn-toggle-group {
    width: 160px;
}

table-order {
    overflow-y: auto;
}

.loading{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}