<div *ngIf="dataSource.data.length > 0; else empty" class="box-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table sticky-header">
        <!-- status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>

        <!-- createdAt Column -->
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{element.createdAt | date: 'dd/MM/yyyy - HH:mm'}}</td>
        </ng-container>

        <!-- gross Amount Column -->
        <ng-container matColumnDef="grossAmount">
            <th mat-header-cell *matHeaderCellDef>Valor bruto</th>
            <td mat-cell *matCellDef="let element">{{element.grossAmount | currency }}</td>
        </ng-container>

        <!-- net Amount Column -->
        <ng-container matColumnDef="netAmount">
            <th mat-header-cell *matHeaderCellDef>Valor líquido</th>
            <td mat-cell *matCellDef="let element">{{element.netAmount | currency }}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row (click)="openOrder(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<ng-template #empty>
    <div class="message-empty">
        <h1>Pedidos vazios</h1>
    </div>
</ng-template>