<mat-form-field *ngIf="searchOptions.value == 'Name'; else cpf" class="input-search">
    <mat-label>Nome</mat-label>
    <input matInput type="text" [(ngModel)]="value" [formControl]="inputName" (input)="inputNameChanged(inputName.value!)">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Limpar" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Digite o nome do cliente</mat-hint>
</mat-form-field>

<ng-template #cpf>
    <mat-form-field class="input-search">
        <mat-label>CPF</mat-label>
        <input type="text" matInput placeholder="xxx.xxx.xxx-xx" [formControl]="inputCPF" (input)="inputNameChanged(inputCPF.value!)"
          maxlength="14" mask="000.000.000-00" [dropSpecialCharacters]="false">
        <mat-hint>Digite o cpf do cliente</mat-hint>
      </mat-form-field>
</ng-template>

<section>
    <mat-button-toggle-group (change)="changeOption()" [formControl]="searchOptions" aria-label="Opções de busca">
      <mat-button-toggle value="Name">Nome</mat-button-toggle>
      <mat-button-toggle value="CPF">CPF</mat-button-toggle>
    </mat-button-toggle-group>
    <p>Nome ou CPF ?</p>
</section>